/*******************************/
/***** Career banner CSS *******/
/*******************************/

.section-career-banner {
    width: 100%;
    height: 500px;
    background-image: url('../img/career/Rectangle 20.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:480px) {
	.section-career-banner{
		height: 230px;
	}
}

@media (min-width: 481px) and (max-width: 992px) {
	.section-career-banner{
		height: 300px;
	}
}
.section-career{
	padding: 40px;
	background-color: #f4f9f7;
}
.section-career .section-career-headers{
	line-height: 24px;
}
.section-career .section-career-headers .section-header{
	text-align: center;
}
.section-career .section-career-headers .section-subheader{
	font-weight: 300;
    text-align: center;
}
@media only screen and (max-width: 1018px){
	.section-career .section-career-headers .section-subheader{
	font-size: 18px;
	line-height: 25px;
	}
}
.section-career .section-form{
	margin-top: 43px;
	margin-bottom: 43px;
	display: flex;
    justify-content: center;
}
.my-form{
	background-color: #fff;
	box-shadow: 0px 0px 9px 0px #ececec;
	max-width: 1027px;
}

.my-form .form-row{
    padding: 20px 116px;

}

.my-form .form-row .form-group{
	padding-left: 20px;
	padding-right: 20px;
}
@media only screen and (max-width: 992px) {
    .my-form .form-row{
	    padding: 20px 40px;
	}
}
@media only screen and (max-width: 767px) {
    .my-form .form-row{
	    padding: 20px 20px;
	}
}
.font-form-header{
    font-size: 20px;
    line-height: 25px;
    font-weight: 300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
}
.font-my-label{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2px !important;
}
.my-submit-btn{
	text-align: right;	
	margin-top: 20px;

}

.my-btn2{
   background: linear-gradient(98.99deg, #00ACFF -11.1%, #BE00FF 113.59%);
   color: #fff;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 700;
   width: 168px;
   padding-top: 8px;
   padding-bottom: 8px;
}

@media only screen and (max-width: 767px) {
    .my-submit-btn{
		margin-top: 10px;
	}
}

select, input, textarea{
	border: 1px solid #00ACFF !important;
	border-radius: 4px;
}