/*******************************/
/********* General CSS *********/
/*******************************/

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}

/*@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT 47 Light Condensed Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT 55 Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT 57 Condensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT 95 Black.ttf") format("truetype");
  font-weight: 600;
  font-style: oblique;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT 95 Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}*/


html {
  scroll-behavior: smooth;
}

body {
    color: #272424;
    background: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    /*font-weight: 500;*/
    font-style: normal;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    /*font-weight: 100;*/
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #333333;
    outline: none;
    text-decoration: none;
}

/*******************************/
/********* Colors CSS *********/
/*******************************/

.color-primary {
    color: #BE00FF;
}


.color-1{
    background: linear-gradient(168.7deg, #BE00FF -1.59%, #9C02D0 100.62%);
    opacity: 0.8;
}
.color-2{
    background: linear-gradient(165.18deg, #F23E93 1.52%, #CD2776 89.54%);
    opacity: 0.8;
}
.color-3{
    background: linear-gradient(146.31deg, #FE7533 12.66%, #E35C1B 80%);
    opacity: 0.8;
}
.color-4{
    background: linear-gradient(156.94deg, #00ACFF 8.48%, #0096DE 85.07%);
    opacity: 0.8;
}
.color-5{
    background: linear-gradient(168.7deg, #46E2AA -1.59%, #10BE7F 100.62%);
    opacity: 0.8;
}
.color-6{
    background: linear-gradient(165.18deg, #A5CD33 1.52%, #85AA1C 89.54%);
    opacity: 0.8;
}
.color-7{
    background: linear-gradient(146.31deg, #DBD42F 12.66%, #C9C32C 80%);
    opacity: 0.8;
}
.color-8{
    background: linear-gradient(156.94deg, #F04747 8.48%, #C03434 85.07%);
    opacity: 0.8;
}
/*.color-secondary {
    color: #ef8c29;
}

.color-tertiary {
    color: #edb52b;
}

.color-bg-primary {
    background-color: #ef6434;
}

.color-bg-secondary {
    background-color: #ef8c29;
}

.color-bg-tertiary {
    background-color: #edb52b;
}*/

/*******************************/
/********* Fonts CSS *********/
/*******************************/
.font-md-spaced {
    font-size: 18px;
    line-height: 22px;
}

.font-lg {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.font-sm {
    font-size: 24px;
    line-height: 29px;
}

.font-xxsm {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
}

.font-md {
    font-size: 44px;
    line-height: 46px;

}

.font-sm-spaced {
    font-size: 16px;
    line-height: 24px;
}

.font-xs {
    font-size: 20px;
    line-height: 46px;
}

.font-xxs {
    font-size: 14px;
    line-height: 32px;
    /*font-weight: bold;*/
}

/*******************************/
/********* Sections CSS *********/
/*******************************/

/*.section-sm {
    padding-bottom: 100px;
}

.section-md {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-lg {
    padding-top: 150px;
    padding-bottom: 150px;
}
*/

/*******************************/
/********* body CSS *********/
/*******************************/

.my-btn{
    background: linear-gradient(98.99deg, #00ACFF -11.1%, #BE00FF 113.59%);
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    width: 168px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #ffffff;
    color: #272424;
    margin-top: 75px;
}

/*******************************/
/********* Top Btn CSS *********/
/*******************************/

.back-to-top {
    position: fixed;
    display: none;
    background: #BE00FF;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    border-radius: 5px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #ffffff;
    background: #BE00FF;
}

.back-to-top i {
    padding-top: 10px;
}

/**************************/
/***** animation CSS *********/
/**************************/


.rotate {
    transition-property: transform;
    transition-duration: 1s;
}

.rotate:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.ani-fadeInUp, .ani-fadeInRight {
    opacity: 0;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
/*******************************/
/********* Header CSS *********/
/*******************************/

.header{
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 9px 0px #a0a0a0;
    z-index: 999;
}

.header .logo-container {
    width: 40%;
} 
.header-logo {
    width: 182px;
    height: 48px;
    left: 60px;
    top: 26px;
}
.header .header-content{
    width: 78px;
    height: 22px;
    left: 534px;
    top: 39px;
}
.header .navbar-brand{
    margin-left: 50px;
 }

.header .header-links{
    padding-right: 15px;
    padding-left: 15px;
}

/*******************************/
/********* Footer CSS *********/
/*******************************/

.my-footer{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
}
.my-footer .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-footer .footer-logo-img{
    height: 40px;
    width: 140px;
    margin-bottom: 15px;
}
.my-footer .footer-contents{
    text-align: center;
}
.my-footer .footer-content-4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 32px;
}
.my-footer .footer-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.my-footer .footer-all-icons{
    text-align: right;
}
.my-footer .footer-icon-container{
    display: inline-block;
        margin-left: 10px;
        margin-top: 2px;
}
.my-footer .logo{
    border-radius: 50%;
    background-color: #a3a3a3;
    color: #fff;
    font-size: 22px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px;
}

.my-footer .footer-content-block a{
    text-decoration: underline;
    color: #007afe;
    cursor: pointer;
}

.about-btn{
    cursor: pointer;
}

.footer-content-5{
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
    .my-footer .footer-all-icons{
        margin-top: 10px;
        text-align: center;
    }
}
