.section-product{
	background-color: #f4f9f7;
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-product .prod-header{
	font-size: 44px;
	font-weight: 700;
	padding-bottom: 24px;
	text-align: center;
}

.section-product .prod-subheader{
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

.section-product .prod-card-container{
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-product .prod-para-con-1 {
	padding: 35px;
	color: #fff;
	background: linear-gradient(156.61deg, #FB644F -6.44%, #F1379F 99.24%);
	font-size: 16px;
	font-weight: 500;
	border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 123%;
    z-index: 2;
}
.section-product .prod-para-con-2 {
	padding: 35px;
	color: #fff;
	background: linear-gradient(347.29deg, #D24EFF -13.61%, #33BDFF 172.85%);
	font-size: 16px;
	font-weight: 500;
	border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 123%;
    z-index: 2;
}

.prod-para-col-big{
	height: 805px !important;
}

.prod-para-col-med{
	height: 605px !important;
}




@media only screen and (max-width: 450px) {
	.section-product .prod-para-col {
    	height: 534px;

	}

	.prod-para-con-big{
		height: 617px !important;
	}

	.section-product .prod-para-con-1, .section-product .prod-para-con-2{
    	width: 80%;
    	top: -100px;
    	left: 50%;
    	transform: translateX(-50%);
    }

    .prod-para-con-big{
		height: 750px !important;
	}

}

@media  (min-width: 451px) and (max-width: 767px) {
    
	.section-product  .prod-para-col{
    	height: 350px;
	}

	.section-product .prod-para-con-1, .section-product .prod-para-con-2{
    	width: 80%;
    	top: -100px;
    	left: 50%;
    	transform: translateX(-50%);
    }

    .prod-para-con-big{
		height: 517px !important;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.section-contact-banner{
		height: 300px;
	}
    .section-product .prod-para-con-1, .section-product .prod-para-con-2{
    	width: 80%;
    	top: -100px;
    	left: 50%;
    	transform: translateX(-50%);
    }

	.section-product  .prod-para-col{
    	height: 250px;
	}

    .prod-para-con-big{
		height: 517px !important;
	}

	.prod-para-con-med{
		height: 417px !important;
	}

	.prod-para-col-big{
		height: 500px !important;
	}
}


.section-product .prod-img-con{
	padding: 0px;
	/*background-image: url('../img/about/Rectangle 2233.png');*/
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 500px;
}

.section-product .prod-img-con-1{
	background-image: url('../img/about/Product 1.png');
}
.section-product .prod-img-con-2{
	background-image: url('../img/about/Product 2.png');
}
.section-product .prod-img-con-3{
	background-image: url('../img/about/Product 3.png');
}
.section-product .prod-img-con-4{
	background-image: url('../img/about/Product 4.png');
}
.section-product .prod-img-con-5{
	background-image: url('../img/about/Product 5.png');
}